html {
    height: 100%;
     background: -webkit-linear-gradient(#F5F5F5, #FFE4E1);
}

h2, li {
    font-family: Vollkorn;
}

h2 {
    font-size: 35px;
    letter-spacing: 1rem;
}

li {
    font-size: 1.15rem;
    color: #696969;
}

.app {
  text-align: center;
}

.app-header {
  background-image: url(http://stlawyers.ca/wp-content/uploads/2017/01/light-blue-background-wallpaper-1.jpg);
  height: 75px;
  padding: 20px;
  color: #9932CC;
  padding-bottom: 2rem;
  border-bottom: 3px dotted white;
}

.app-intro {
  font-size: large;
}

ol {
    display: inline-block;
    text-align: left;
}

.stop {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.start {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.breathe-button
{
  width:100px;
  height:100px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, red, yellow);
  display: inline-block;
  animation: introFade 3s forwards,
    fade 9s normal infinite;
}

@keyframes introFade {
  from {
    opacity: 0;
    width:300px;height:300px;
  }

  to {
    opacity: 1;
    width:300px;height:300px;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.text {
    padding-bottom: 2rem;
}

@keyframes fade {
0%   {width:225px;height:225px}
9% {width:250px;height:250px}
47.75%   {width:100px;height:100px}
56.75%   {width:100px;height:100px}
96.5% {width:225px;height:225px}
100% {width:225px;height:225px}
}

@-webkit-keyframes fade {
0%   {opacity:0;}
50%   {opacity:1;}
100% {opacity:0;}
}
